---
import Layout from '../layouts/Layout.astro';
import { EmploymentButton } from '../components/EmploymentButton.tsx';
import { ExpandButton } from '../components/ExpandButton.tsx';
import SkillBadge from '../components/SkillBadge.astro';
import PageTitle from '../components/PageTitle.astro';

type EmploymentType = {
  id: string;
  company: string;
  workType: string;
  website: string;
  role: string;
  location: string;
  startDate: string;
  endDate: string;
  bullets: string[];
  skills: string[];
  img: string;
};

const employment: EmploymentType[] = [
  {
    id: 'moonbox',
    company: 'MOONBOX',
    workType: 'Remote',
    img: './public/moonbox.svg',
    website: 'https://www.moonbox.ae/',
    role: 'Frontend Developer',
    location: 'Dubai',
    startDate: '2023-01',
    endDate: '2023-10',
    bullets: [
      'Worked closely with the UI/UX team in preparing the frontends for multiple different ongoing projects.',
      'Developed several responsive web templates including dashboards, e-commerce templates, travel website, recipe website, Food ordering app and an event planner to name a few.',
      "Revamped entire website leveraging Webflow's no-code features.",
      'Utilized HTML, CSS, JavaScript, and React to develop user interfaces and implement features in accordance with design specifications.',
      'Conducted code reviews and offered constructive feedback to team members, ensuring code quality and adherence to best practices.',
    ],
    skills: ['Tailwind, React, Next.JS'],
  },
  {
    id: 'codeavour',
    company: 'CODEAVOUR',
    workType: 'Hybrid',
    img: './public/codeavour.png',
    location: 'Lahore',
    website: 'https://codeavour.com/',
    role: 'Frontend Developer',
    startDate: '2021-12',
    endDate: '2022-12',
    bullets: [
      'Converting Figma/ XD/ Photoshop designs to code.',
      'Worked on the frontend of a high traffic travel website using React to showcase popular travel destinations and itineraries.',
      'Designed an e-commerce platform using React to provide users with a seamless shopping experience. Integrated shopping cart functionality and product categories for easy navigation.',
      'Participated in code reviews.',
      'Worked on an internal Back-Office application used to manage clients, meetings, leads and reports.',
      'Getting feedback from clients and incorporating that.',
    ],
    skills: ['Bootstrap, JavaScript, PHP, Laravel, Wordpress'],
  },
  {
    id: 'career-institute',
    company: 'CAREER INSTITUTE',
    workType: 'On-site',
    location: 'Faisalabad',
    img: './public/careerInstitute.png',
    website: 'https://iedea.com',
    role: 'Frontend Developer',
    startDate: '2020-06',
    endDate: '2021-12',
    bullets: [
      "Maintaining the frontend of the institute's main website.",
      'Making frontend templates using HTML/CSS and JavaScript. Created almost ~50 frontend templates.',
      'Helped create starter kits for frontend (Bootstrap).',
      'Meeting with clients to gather the requirements, get feedback on the templates.',
    ],
    skills: ['Tailwind, Bootstrap, JavaScript, Alpine.JS, PHP'],
  },
  {
    id: 'digital-softs',
    company: 'DIGITAL SOFTS',
    workType: 'On-site',
    location: 'Faisalabad',
    img: './public/digitalsofts.svg',
    website: 'https://www.digitalsofts.com/',
    role: 'Web Developer',
    startDate: '2019-01',
    endDate: '2020-05',
    bullets: [
      'Digital Softs used to deliver desktop and web applications in several domains including Retail, Supply Chain, Manufacturing, Hospitality and Education.',
      'I joined the team working on the web application of their product and developed the frontend part which included several modules including accounts, finance, reporting, product and asset management etc.',
    ],
    skills: ['Bootstrap, JavaScript, PHP, Laravel, CodeIgniter, C++'],
  },
];
---

<Layout
  title='Farhan Ahmed - Resume'
  description='I have over 4 years of experience working with startups and scale ups. I have also worked with some large enterprises. Here is a brief overview of my employment history.'
>
  <PageTitle
    title='About Me'
    description='At the age of 7, my passion for technology was sparked by my brother, who despite everything, engaged me in tech and science. His love for games and technology deeply influenced me and inspired my career choice. Now as a Software Engineer, I thrive on perpetual learning and the exploration of emerging technologies.'
  />

  <div class='mt-16 flex flex-col gap-8 space-y-2'>
    <h1 class='-mb-2 text-2xl font-bold text-white'>Experience</h1>
    {
      employment.map((job) => {
        const formatDate = (dateStr: string) => {
          const date = new Date(dateStr);
          return date.toLocaleDateString('en-US', {
            month: 'short',
            year: 'numeric',
          });
        };

        const startDate = formatDate(job.startDate);
        const endDate = formatDate(job.endDate);

        return (
          <div class='space-y-4'>
            <div class='flex flex-col gap-4'>
              <div class='flex items-start gap-4'>
                <div class='flex flex-1 flex-col'>
                  <div class='flex items-end justify-start gap-4'>
                    <div class='relative aspect-square h-12 w-12 overflow-hidden rounded print:hidden'>
                      {job.img && (
                        <img
                          alt={job.company}
                          class='aspect-square h-full w-full object-contain'
                          src={job.img}
                        />
                      )}
                    </div>
                    <div>
                      <h3 class='space-mono-bold text-lg font-bold'>
                        {job.role} @ {job.company}
                      </h3>
                      <p class='text-neutral-11 space-mono-bold'>
                        {startDate} - {endDate}, {job.location}
                      </p>
                    </div>
                    {job.skills && (
                      <p class='flex uppercase max-sm:gap-2 sm:ml-auto sm:flex-col print:hidden'>
                        {job.skills[0]
                          .split(', ')
                          .sort((a, b) => a.length - b.length)
                          .map((skill) => (
                            <span class='space-mono-bold text-right text-xs font-medium'>
                              {skill}
                            </span>
                          ))}
                      </p>
                    )}
                  </div>
                  <div class='mt-4'>
                    <ul class='list-disc space-y-2 pl-4'>
                      {job.bullets.map((bullet) => (
                        <li>{bullet}</li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</Layout>
